//---------font
@mixin font-body($font-size, $line-height, $color) {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-body;
  color: $color;
  font-weight: 400;
}

@mixin font-nibus-bold($font-size, $line-height, $color) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-weight: 700;
  font-family: $font-body;
}

@mixin font-light($font-size, $line-height, $color) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-family: $font-roboto;
  font-weight: 300;
}

@mixin font-regular($font-size, $line-height, $color) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-family: $font-roboto;
  font-weight: 400;
}

@mixin font-medium($font-size, $line-height, $color) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-family: $font-roboto;
  font-weight: 500;
}

@mixin font-semi($font-size, $line-height, $color) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-family: $font-roboto;
  font-weight: 600;
}

@mixin font-bold($font-size, $line-height, $color) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-family: $font-roboto;
  font-weight: 700;
}

@mixin font-size($size, $height, $color: null) {
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin wp-font($type) {
  @if $type==font-light {
    font-family: $font-roboto;
    font-weight: 300;
  } @else if $type==font-regular {
    font-family: $font-roboto;
    font-weight: 400;
  } @else if $type==font-medium {
    font-family: $font-roboto;
    font-weight: 500;
  } @else if $type==font-semi {
    font-family: $font-roboto;
    font-weight: 600;
  } @else if $type==font-bold {
    font-family: $font-roboto;
    font-weight: 700;
  } @else if $type==font-xbold {
    font-family: $font-roboto;
    font-weight: 900;
  } @else if $type==font-body {
    font-family: $font-body;
    font-weight: 400;
  } @else if $type==font-body-bold {
    font-family: $font-body;
    font-weight: 700;
  }
}

@mixin btn($bg-color, $text-color) {
  display: inline-block;
  padding: 12px 24px;
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: darken($bg-color, 10%);
  }

  &:active {
    background-color: darken($bg-color, 20%);
  }
}

//---mixin cuttum site

@mixin marginLayout($size) {
  margin-left: $size;
  margin-right: $size;
}

@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

@mixin reset($type: null) {
  @if $type == spacing {
    margin: 0;
    padding: 0;
  }
  @if $type == list {
    margin: 0;
    padding: 0;
    list-style: none;
    & li {
      margin: 0;
      padding: 0;
    }
  }
  @if $type == everything {
    float: none;
    position: static;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    list-style: none;
  }
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin centerPosition($pos) {
  position: absolute;
  @if $pos == "mid" {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if $pos == "left" {
    left: 50%;
    transform: translateX(-50%);
  } @else if $pos == "top" {
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin flexContainer($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-wrap($wrap: wrap) {
  display: flex;
  flex-wrap: $wrap;
}

@mixin flexLeft {
  display: flex;
  justify-content: flex-end;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

// Mixin to create a background image with optional background color and size
@mixin bg-image($url, $color: null, $size: cover) {
  background-image: url($url);
  background-color: $color;
  background-size: $size;
  background-repeat: no-repeat;
  background-position: center center;
}

// Mixin to create a simple box-shadow
@mixin box-shadow($shadow: 0 2px 4px rgba(0, 0, 0, 0.15)) {
  box-shadow: $shadow;
}

// Mixin to create a text shadow
@mixin text-shadow($shadow: 1px 1px 1px rgba(0, 0, 0, 0.2)) {
  text-shadow: $shadow;
}

@mixin transition($property, $duration, $ease: ease-in-out) {
  -webkit-transition: $property $duration $ease;
  -moz-transition: $property $duration $ease;
  -o-transition: $property $duration $ease;
  transition: $property $duration $ease;
}

@mixin reset($type: null) {
  @if $type == spacing {
    margin: 0;
    padding: 0;
  }
  @if $type == list {
    margin: 0;
    padding: 0;
    list-style: none;
    & li {
      margin: 0;
      padding: 0;
    }
  }
  @if $type == everything {
    float: none;
    position: static;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    list-style: none;
  }
}

@mixin marginRL($size) {
  margin-left: $size;
  margin-right: $size;
}

@mixin marginTB($size) {
  margin-left: $size;
  margin-right: $size;
}
@mixin marginAuto {
  margin-left: auto;
  margin-right: auto;
}

@mixin tableOddEven() {
  &:nth-child(odd) {
    background-color: $page;
    > td.is-active {
      background-color: $light;
    }
  }
  &:nth-child(even) {
    border-bottom: 0;
    background-color: $ultralight;
    > td.is-active {
      background-color: $medium_light;
    }
  }

  &:nth-child(2n + 2) {
    background: $ultralight;
  }
}
