$color-body: #363f43;

$border-buttom-task: #bbb;

$page: #fff;
$border: #ccc;
$border-bottom: #edf1f2;
$highlight: #c00;
$ultralight: #f5f5f5;
$light: #eee;
$medium_light: #ebebeb;
$medium_dark: #e5e5e5;
$debug: rgba(255, 192, 203, 0.5);
$button: #e9eff2;
$shadow: #b0bcc2;
$darktext: #6d797e;
$qty: #f7f7f7;
$fswgreen: #2f9d61;
$greenshadow: #178a4b;
$black-color: #000;
// mobifisrt

$font-body: "nimbus-sans", sans-serif;
$font-roboto: "roboto-mono", monospace;

$desktop: 1200px;
$tablet-ht: 992px; // Tablet Horizontal
$tablet-vt: 768px; // Tablet Vertical
$mobile: 640px;
$mobile-md: 480px;
$mobile-sm: 360px;
$mobile-xs: 320px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;
// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
// stylelint-disable
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    10: (
      $spacer * 0.625,
    ),
    15: (
      $spacer * 0.9375,
    ),
    20: (
      $spacer * 1.25,
    ),
    25: (
      $spacer * 1.5625,
    ),
    30: (
      $spacer * 1.875,
    ),
    40: (
      $spacer * 2.5,
    ),
    50: (
      $spacer * 3.125,
    ),
    60: (
      $spacer * 3.75,
    ),
  ),
  $spacers
);
$zindex: (
  modal: 9000,
  overlay: 8000,
  dropdown: 7000,
  header: 6000,
  footer: 5000,
);
$list-gutters: (
  5: 5px,
  10: 10px,
  20: 15px,
) !default;

.A {
  background-color: #2c2c79;
  color: $page;
}
.B {
  background-color: #037f36;
  color: $page;
}
.C {
  background-color: #a41314;
  color: $page;
}
.D {
  background-color: #e94e0f;
  color: $page;
}
.E {
  background-color: #d51317;
  color: $page;
}
.F {
  background-color: #af1c1a;
  color: $page;
}
.G {
  background-color: #522583;
  color: $page;
}
.H {
  background-color: #de0072;
  color: $page;
}
.I {
  background-color: #b164a5;
  color: $page;
}
.J {
  background-color: #0088c2;
  color: $page;
}
.K {
  background-color: #fbba00;
  color: $page;
}
.L {
  background-color: #1d71b8;
  color: $page;
}
.M {
  background-color: #a21a5b;
  color: $page;
}
.N {
  background-color: #008d93;
  color: $page;
}
.P {
  background-color: #dedc00;
  color: $page;
}
.Q {
  background-color: #f39200;
  color: $page;
}
.T {
  background-color: #c79a00;
  color: $page;
}
.X {
  background-color: #c79a00;
  color: $page;
}
