@font-face {
  font-family: "nimbus-sans";
  font-weight: 400;
  src: url("../font/nimbus-sans/NimbusSanL-Reg.otf");
}

@font-face {
  font-family: "nimbus-sans";
  font-weight: 700;
  src: url("../font/nimbus-sans/NimbusSanL-Bol.otf");
}

@font-face {
  font-family: "roboto-mono";
  font-weight: 300;
  src: url("../font/roboto-mono/RobotoMono-Light.ttf");
}

@font-face {
  font-family: "roboto-mono";
  font-weight: 400;
  src: url("../font/roboto-mono/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: "roboto-mono";
  font-weight: 500;
  src: url("../font/roboto-mono/RobotoMono-Medium.ttf");
}

@font-face {
  font-family: "roboto-mono";
  font-weight: 600;
  src: url("../font/roboto-mono/RobotoMono-SemiBold.ttf");
}

@font-face {
  font-family: "roboto-mono";
  font-weight: 700;
  src: url("../font/roboto-mono/RobotoMono-Bold.ttf");
}

@font-face {
  font-family: "FontAwesome";
  src: url("../font/font-awesome/fontawesome-webfont.eot");
  src: url("../font/font-awesome/fontawesome-webfont.eot")
      format("embedded-opentype"),
    url("../font/font-awesome/fontawesome-webfont.ttf") format("truetype"),
    url("../font/font-awesome/fontawesome-webfont.woff") format("woff"),
    url("../font/font-awesome/fontawesome-webfont.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  height: 100%;
  overflow-y: scroll;
}

body {
  color: $color-body;
  font-family: $font-body;
  font-size: 16px;
}

[hidden] {
  display: none;
}

select,
textarea {
  font-family: sans-serif;
}

a {
  text-decoration: none;

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

p,
pre {
  margin: 0 0 1.5em;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 75%;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

form {
  margin: 0;
}

fieldset {
  margin: 0 2px;
  padding: 0.35em 0em 0.75em;
  border: 1px solid #ccc;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

select,
textarea {
  font-size: 100%;
  width: 98%;
  margin: 0;
  vertical-align: baseline;
}

button {
  font-size: 100%;
  width: 98%;
  margin: 0;
  vertical-align: baseline;
  font-family: sans-serif;
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
  line-height: normal;

  &[disabled] {
    cursor: default;
  }
}

input {
  font-size: 100%;
  width: 98%;
  margin: 0;
  vertical-align: baseline;
  font-family: sans-serif;
  line-height: normal;

  [type="button"] {
    cursor: pointer;
    -webkit-appearance: button;
    overflow: visible;
  }

  [type="reset"] {
    cursor: pointer;
    -webkit-appearance: button;
    overflow: visible;
  }

  [type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    overflow: visible;
  }

  &[disabled] {
    cursor: default;
  }

  &[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
  }

  &[type="radio"] {
    @include box(13px);
    box-sizing: border-box;
    padding: 0;
  }

  &[type="checkbox"] {
    @include box(13px);
    box-sizing: border-box;
    padding: 0;
  }
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  margin: 10px 0;
  padding: 0;
  width: 100%;
  border: 1px solid;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: inherit;
  font: 100%;
  vertical-align: middle;
  border-color: $border;
}

th {
  vertical-align: middle;
  border-color: $border;
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
  text-align: left;
}

td {
  vertical-align: middle;
  border-color: $border;
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
  text-align: left;
}

.caption {
  text-align: left;
}

thead {
  border-color: $border;
  tr {
    font-weight: 700;
    background-color: $medium_dark;
  }
}

tbody {
  border-top: 1px solid #ccc;
  border-color: $border;
}

tr {
  border-color: $border;
}

.custum-width-secondary {
  @include marginAuto;
  width: 90%;
  font-size: 1.3em;
  padding-top: 20px;
}

.custum-space-block {
  margin-bottom: 20px;
}

li.is-active a {
  color: $black-color;
}

ul.primary {
  @include clearfix;
  @include flex-wrap;
  align-items: center;
  row-gap: 5px;
  column-gap: 0.3em;
  border-bottom: 1px solid $border-buttom-task;
  height: auto;
  line-height: normal;
  list-style: none;
  white-space: nowrap;
  border-bottom-color: $border;
  li {
    flex: 1 1 calc(49% - 0.3em);
    margin-right: 0;
    a {
      display: block;
      background-color: $ultralight;
      border-color: $border;
      margin-right: 1px;
      padding: 0 10px;
      height: 1.5em;
      line-height: 1.5em;
      text-align: center;
    }

    &.is-active a,
    &:hover a,
    &:focus a {
      background-color: #fff;
      border-bottom-color: #fff;
      border: 1px solid #bbb;
      border-bottom: 1px solid #fff;
    }
  }
}

.page-title {
  margin: 0;
  text-align: center;
}

.form-managed-file .form-file,
.form-managed-file .form-submit {
  margin: 0;
}

.order-total-line-label {
  @include wp-font(font-bold);
  font-weight: bold;
}

.flag {
  position: relative;
}

.flag-favourites {
  width: 40%;
  float: left;
  padding: 0px 20px;
  text-align: center;
  a {
    font-size: 1px;
    color: $page;
  }
}
.action-unflag a::before {
  content: "\f08a";
  font-family: "FontAwesome";
  color: $black-color;
  font-size: 30px !important;
}

.action-flag a::before {
  content: "\f004";
  font-family: "FontAwesome";
  color: $black-color;
  font-size: 30px !important;
}

.field__label {
  @include font-size(1em, inherit);
  font-weight: 700;
  font-family: inherit;
  margin-bottom: 0;
}

.views-view-grid {
  .views-row {
    @include flex-wrap();
  }
}

.cols-2 {
  .views-col {
    flex: 0 0 50%;
    width: 100% !important;
    float: unset;
  }
}

.link--previous {
  height: 48px;
  margin-right: 4%;
  background: $page url(../images/remove_grey.png) no-repeat;
  background-size: 24px;
  background-position: 93% 50%;
  text-align: left;
  text-indent: 10px;
  color: $darktext;
  border: none;
  border-bottom: 2px solid $shadow;
  padding-right: 35px;
  padding-left: 10px;
  font-size: 1.2em;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.btn-Secondary {
  font-weight: bold;
  display: block;
  height: 48px;
  line-height: 48px;
  border-radius: 0px;
  border-bottom: 2px solid $shadow;
  color: $darktext;
}
