.group-header {
  @include marginRL(10px);
  margin-bottom: 20px;
}

.block-logo {
  z-index: 99;
}

.site-logo {
  float: left;
  padding: 10px 0;
  margin-right: 10px;
}

.Arcus-logo {
  float: right;
  margin-top: 25px;
  margin-bottom: 20px;
  img {
    height: 52px;
    width: 40px;
  }
}

.layout-region-checkout-footer {
  clear: both;
}

.scatname {
  background: white;
  display: inline-block;
  position: relative;
  padding-left: 2%;
  width: 73%;
  padding-top: 25px;
  height: 61px;
  vertical-align: middle;
  margin-bottom: 10px;
}
