.profile {
  .field__label {
    margin: 0.83em 0;
    margin-bottom: 0;
  }
  h3 {
    border-bottom: 1px solid #ccc;
  }

  dl {
    margin: 0 0 1.5em 0;
  }

  dt {
    margin: 0 0 0.2em 0;
    font-weight: bold;
  }

  dd {
    margin: 0 0 1em 0;
  }
}
