label {
  display: block;
  font-weight: bold;
}

.form-item label {
  font-weight: 700;
}

.user-login-form {
  font-size: 1.5em;
  .form-item {
    width: 100%;
    margin-bottom: 10px;

    input {
      width: 96%;
      height: 48px;
      border: 1px solid #cccccc;
      padding: 2%;
      text-align: center;
      color: $color-body;
    }
  }
  label {
    display: none;
  }

  .form-actions {
    width: 100%;
    text-align: center;
  }

  .button {
    width: 96%;
    height: 48px;
    border: 1px solid #cccccc;
    text-align: center;
    background: #339966;
    color: white;
  }
}

.user-register-form {
  .field--name-field-allowed-clients {
    .form-checkboxes {
      padding: 0.5em 1.5em;
    }
  }
}

.form-required:after {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
  vertical-align: super;
  background-image: url(../images/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
}

.webform-submission-form {
  text-align: center;
  margin-bottom: 40px;
  fieldset {
    @include reset(everything);
    padding: 0.35em 0em 0.75em;
  }

  input {
    &.form-text {
      height: 48px;
    }

    &[type="number"] {
      height: 48px;
    }

    &.form-submit {
      display: block;
      background: #2f9d61;
      height: 48px;
      border: none;
      line-height: 48px;
      width: 100%;
      color: white;
      font-size: 1.3em;
      font-weight: 600;
    }
  }
}

.form-item-sample-images {
  position: relative;
  width: 292px;
  margin: 0 auto;
  label {
    background: #e9eff2;
    border-bottom: #b0bcc2 2px solid;
    height: 58px;
    line-height: 68px;
  }
  .form-managed-file {
  }
  .description {
  }

  input.form-file {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent url(../images/icon-button-addPhoto.svg) no-repeat;
    background-size: 24px;
    background-position: 95% 50%;
    width: 90%;
    margin: 0 auto;
    height: 58px;
    text-indent: -999px;
    overflow: hidden;
    font-size: 10px;
  }
  input.form-submit {
    display: block;
    background: $fswgreen;
    height: 48px;
    border: none;
    line-height: 48px;
    width: 100%;
    color: white;
    font-size: 1.3em;
    font-weight: 600;
  }
}

.form-item-job-number {
  label {
    font-weight: normal;
  }
}

.form-item-enter-quantity-required {
  label {
    display: inline;
    margin-right: 1em;
  }
}

input.form-submit {
  &.button--primary {
    background: #2f9d61 url(../images/icon-button-plus2.svg) no-repeat;
    background-size: 24px;
    background-position: 95% 50%;
  }
  &.button--add-to-cart {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50px;
    right: 0px;
    background: #363f43 url(../images/icon-button-addToCart.svg) no-repeat;
    background-size: 30px;
    background-position: center center;
    border: 0px;
    text-indent: -999px;
    overflow: hidden;
  }
  &#edit-actions-next {
    height: 48px;
    color: white;
    border: none;
    border-bottom: 2px solid #178a4b;
    background: #2f9d61 url(../images/icon-button-arrowForward2.svg) no-repeat;
    background-size: 13px;
    background-position: 90% 50%;
    text-align: left;
    text-indent: 10px;
    padding-right: 35px;
    font-size: 1.2em;
  }
  &#edit-cancel {
    height: 48px;
    margin-right: 4%;
    background: white url(../images/remove_grey.png) no-repeat;
    background-size: 24px;
    background-position: 93% 50%;
    text-align: left;
    text-indent: 10px;
    color: #6d797e;
    border: none;
    border-bottom: 2px solid #b0bcc2;
    padding-right: 35px;
    font-size: 1.2em;
  }
}

.YESESP {
  @include font-size(1.3em, null, $color-body);
  font-family: sans-serif;
  font-weight: 600;
  padding: 10px;
  &:hover {
    color: $page;
    background: $fswgreen;
  }
}

.commerce-order-item-add-to-cart-form {
  margin-left: 3%;
}
