.view-client-selection {
  .view-header p {
    @include reset(spacing);
  }
}

.views-field-field-rc-product-signposting a {
  @include font-size(1.33em, 1.2, $page);
  display: block;
  background: #b0bcc2 url(../images/icon-alert.svg) no-repeat;
  background-position: 10px center;
  background-size: 32px;
  padding: 20px;
  margin-top: 50px;
  clear: both;
  p {
    margin-bottom: 0px;
    padding-left: 40px;
  }
}

.view {
  .form-actions {
    @include clearfix;
    position: relative;
  }

  .views-field-sku {
    @include font-bold(1.25em, null, null);
    position: relative;
    display: block;
    width: 50%;
    margin: 0px;
  }

  .views-field-title .field-content {
    @include font-semi(1.25em, null, null);
    display: block;
    margin: 0px;
  }

  .views-field-body {
    margin: 0px;
  }

  .views-field-field-manufacturers-ref-no {
    margin: 0px;
  }

  .views-field-field-uc-product-image {
    float: left;
    width: 40%;
    min-height: 106px;
  }

  .views-field-price__number {
    @include font-regular(1.25em, null, null);
    display: block;
    position: relative;
    margin: 0px;
    width: 40%;
    float: left;
    clear: right;
    text-align: center;
    > span {
      white-space: nowrap;
    }
  }

  .views-field-qty {
    width: 40%;
    float: left;
    padding: 0px 20px;
    text-align: center;
    @include clearfix;
  }

  .field--name-quantity {
    @include font-semi(14px, null, null);
    width: 45%;
    float: left;
  }

  .views-field-variations-target-id {
    position: relative;
    clear: both;
    span {
      display: block;
    }

    .form-type-number {
      @include font-semi(null, null, null);
    }

    .form-item {
      @include clearfix;
      margin-bottom: 0;
      label {
        @include font-bold(null, null, null);
        height: 48px;
        line-height: 1;
      }

      input {
        background: #f7f7f7;
        width: 65px;
        font-size: 16px;
      }
    }
  }

  .field-product-variation-stock--wrapper {
    @include font-semi(14px, null, null);
    width: 45%;
    float: left;
    clear: both;
    margin-bottom: 1em;
    label {
      @include font-semi(14px, null, null);
    }
  }

  table {
    .views-field-field-uc-product-image {
      min-height: auto;
    }
    .views-field-field-uc-product-image {
      float: unset;
      width: auto;
    }

    .views-field-sku {
      font-size: inherit;
      width: auto;
      margin: unset;
      display: table-cell;
    }
  }

  &.view-product-signposting {
    .view-content {
      @include marginRL(10px);
    }
  }

  &.view-section-and-subsections {
    .views-row {
      background: $page;
      margin-bottom: 10px;
      display: flex;
    }

    .views-field-name {
      flex: 0 0 25%;
      a {
        text-decoration: none;
        h2 {
          @include box(85%, 100%);
          margin: 0px;
          font-size: 3.6em;
          text-align: center;
          color: $page;
        }
      }
    }

    .views-field-description__value {
      flex: 0 0 75%;
      background: transparent url(../images/icon-button-arrowForward.svg)
        no-repeat;
      background-size: 14px;
      background-position: 95% 50%;
      position: relative;
      min-height: 86px;
      a {
        min-height: 66px;
        line-height: 1.2;
        color: #363f43;
        display: block;
        padding-top: 20px;
        padding-right: 15%;
        text-decoration: none;
      }
      p {
        margin: 0;
      }
    }
  }

  &.view-product-detail {
    background: $page;
    padding: 20px 10px;
    .views-field-title {
      margin-bottom: 20px;
    }
  }

  &.view-categories-of-product {
    .views-row {
      background: $page;
      padding: 20px 0px;
      margin-bottom: 10px;
    }
    .views-field {
      padding: 0 20px;
    }
    .views-field-field-uc-product-image {
      padding-right: 0;
    }
    input.form-submit.button--add-to-cart {
      right: 20px;
    }
  }

  &.view-my-favourite-products {
    background: $page;
    padding: 20px 10px;
    .views-field-title {
      a {
        display: inline-block;
        margin-bottom: 20px;
        color: $color-body;
      }
    }

    .views-field-field-manufacturers-ref-no {
      .field-content {
        margin: 0 0 1.5em;
      }
    }
  }

  &.view-search {
    .views-row {
      @include wp-font(font-light);
      background: $page;
      margin-bottom: 10px;
      padding: 20px 0px;
      > .views-field {
        padding-left: 20px;
      }
      > .views-field-variations {
        @include reset(spacing);
        position: relative;
      }
    }
    h2 {
      width: 25%;
      display: inline-block;
      text-align: center;
      float: left;
      font-size: 3.6em;
      margin: 0px;
    }

    .views-field-variations {
      position: relative;
      clear: both;
      form {
        padding-left: 20px;
      }
    }
    .views-field-sku-1,
    .views-field-manufacturers-ref-no {
      @include wp-font(font-bold);
    }

    .field--name-quantity {
      clear: both;
      @include font-semi(14px, null, null);
      width: 45%;
      float: left;
      margin-bottom: 0;
      .form-item {
        margin-bottom: 0;
      }

      label {
        @include font-bold(null, null, null);
        height: 48px;
        line-height: 1;
      }

      input {
        background: #f7f7f7;
        width: 65px;
        font-size: 16px;
      }
    }

    input.form-submit.button--add-to-cart {
      right: 20px;
    }
  }

  &.view-commerce-cart-form {
    form {
      font-family: $font-body;
    }

    table {
      @include wp-font(font-regular);
      border: none;
      width: 100%;
      margin-bottom: 0;
    }

    tbody {
      tr {
        @include tableOddEven;
        border-top: 0px;
        border-bottom: 4px solid #edf1f2;
        &:nth-child(2n + 2) {
          background: white;
        }
      }
    }

    td {
      vertical-align: top;
    }

    .form-item {
      @include reset(spacing);
      white-space: nowrap;
    }

    .views-field-remove-button {
      width: 24px;
      vertical-align: top;
      position: relative;
      input {
        @include centerPosition(mid);
        @include box(24px);
        background-image: url(../images/remove_grey.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px 24px;
        float: left;
        text-indent: -999px;
        border: 0;
      }
    }

    .views-field-field-uc-product-image {
      display: block;
      width: 40px;
      float: left;
      img {
        padding-right: 0.8em;
        float: left;
      }
    }

    .views-field-title {
      display: block;
      width: 120px;
      float: left;
      font-size: 0.83em;
      a {
        color: black;
      }
    }

    .views-field-edit-quantity {
      display: block;
      width: 30px;
      float: left;
      input {
        width: 30px;
      }
    }

    .views-field-total-price__number {
      text-align: right;
      white-space: nowrap;
    }

    .field--name-total-price {
      border-top: 0px;
      border-bottom: 4px solid #edf1f2;
      background: white;
      margin-bottom: 10px;
    }
    .form-actions {
      margin-top: 0;
      text-align: right;
      input {
        @include box(100%, 48px);
        font-family: $font-roboto;
        font-size: 1.2em;
        vertical-align: middle;
        margin: 0;
      }

      .btn-update-cart {
        background: $page url(../images/icon-cartUpdate.svg) no-repeat;
        background-size: 18px;
        background-position: 93% 50%;
        text-align: left;
        text-indent: 10px;
        color: #6d797e;
        border: none;
        border-bottom: 2px solid #b0bcc2;
      }

      .btn-checkout {
        color: $page;
        border: none;
        border-bottom: 2px solid #178a4b;
        background: #2f9d61 url(../images/icon-button-arrowForward2.svg)
          no-repeat;
        background-size: 13px;
        background-position: 93% 50%;
        text-align: left;
        text-indent: 10px;
      }
    }
  }

  &.view-product-explorer {
    .form--inline {
      margin-bottom: 0.5em;
      display: flex;
      align-items: flex-end;
    }

    .form-item,
    .form-actions {
      padding: 0.5em 1em 0 0;
      margin: 0;
    }

    tr {
      @include tableOddEven;
    }

    .views-field-title a {
      position: relative;
      padding-right: 15px;
    }
  }

  &.view-product-export {
    @extend .view-product-explorer;
    .view-content {
      overflow-x: auto;
    }
  }

  &.view-commerce-checkout-order-summary {
    tbody {
      tr {
        @include tableOddEven;

        border-top: 0px;
        border-bottom: 1px solid $border-bottom;
      }
    }

    td {
      vertical-align: top;
    }
  }

  &.view-address {
    .form--inline {
      margin-bottom: 0.5em;
      display: flex;
      align-items: flex-end;
    }

    .form-item,
    .form-actions {
      padding: 0.5em 1em 0 0;
      margin: 0;
    }

    .view-content {
      border: 1px solid $border;
      margin: 10px 0;
    }

    .address-item {
      border-top: 1px solid $border;
    }

    .views-col {
      @include reset(spacing);
      background: $page;
      border: 1px solid $border;
      width: 100% !important;
      max-width: calc(50% - 42px);
      padding: 10px 13px;
      margin: 5px 7px;
    }

    .view-field-address-field-address {
      margin-top: 10px;
      width: 20em;
      float: left;
      border-top: 1px solid $border;
      ~ * {
        clear: left;
      }
    }
  }
}
