.block-back {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 10px;
  p {
    @include reset(everything);
  }
  a {
    display: block;
    height: 48px;
    line-height: 48px;
    color: #363f43;
    font-weight: bold;
    text-decoration: none;
    background: transparent url(../images/icon-button-arrowBack.svg) no-repeat;
    background-position: 5% 50%;
    background-size: 14px;
    font-size: 1.3em;
  }
}

.search-header {
  @include marginRL(10px);
  .form--inline {
    margin-bottom: calc(20px + 0.5em);
    padding-top: 0.5em;
  }

  .form-item {
    width: 100%;
    margin: 0;
  }

  label {
    display: none;
  }
  input.form-text {
    height: 48px;
    width: 96%;
    border: 1px solid $shadow;
    padding: 0 2%;
    background: transparent url(../images/icon-ui-search.svg) no-repeat;
    background-position: 95% 50%;
    background-size: 25px;
  }

  .form-actions {
    display: none;
  }
}

#block-copyright {
  margin-top: 30px;
}
