.region-footer {
  background: #dadfe1;
  .block__content {
    @include marginLayout(10px);
  }
  img {
    height: 21px;
    width: 80px;
  }
}

.region-secondary {
  .block__content {
    @include marginLayout(10px);
  }
}

.region-content {
  @include marginLayout(10px);
  .block {
    margin-bottom: 20px;
  }

  .block-page-title-block {
    margin-bottom: 0;
  }
}

.region-main-menu {
  @include flexLeft;
  position: relative;

  .mobile-toggle {
    display: none;
  }
  .left-menu {
    position: absolute;
    left: 10px;
    .mobile-toggle {
      display: none;
    }
  }

  .right-menu {
    .mobile-toggle {
      display: none;
    }
    li {
      &:first-child {
        a {
          background: transparent url(../images/iocn-ui-acount.svg) no-repeat
            center;
        }
      }
      &:last-child {
        a {
          background: transparent url(../images/icon-ui-logout.svg) no-repeat;
        }
      }
    }
  }

  ul {
    &.navbar-nav {
      @include reset(spacing);
    }

    &.menu {
      @include reset(spacing);
    }
  }

  li {
    &.nav-item {
      display: inline-block;
      float: right;
      list-style: none;
      margin: 0;
      padding: 0;
      &:first-child {
        @include box(24px, 25px);
        position: absolute;
        background: transparent url(../images/icon-ui-menu.svg) no-repeat;
        left: 0;
        background-position-x: right;
        text-indent: -999px;
        overflow: hidden;
      }
      a {
        display: block;
      }
    }

    &.menu-item {
      display: inline-block;
      @include reset(spacing);
      a {
        @include box(24px, 25px);
        display: block;
        white-space: nowrap;
        padding: 0 10px;
        margin-left: 15px;
        background-position-x: center;
        text-indent: -999px;
        overflow: hidden;
      }
      .icon-favourites {
        background: transparent;
        font-size: 0;
        text-indent: 1px;
        &::before {
          display: block;
          margin-top: -4px;
          content: "\f004";
          font-family: "FontAwesome";
          color: black;
          font-size: 25px;
          text-indent: unset;
        }
      }
    }
  }

  .cart--cart-block a {
    @include box(24px, 25px);
    display: block;
    white-space: nowrap;
    padding: 0 10px;
    margin-left: 15px;
    background: transparent url(../images/icon-cartTotal.svg) no-repeat right;
    height: 25px;
    width: 24px;
    text-indent: -999px;
    overflow: hidden;
  }
}
