.content-left-group {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.section-header {
  .navbar-toggle {
    display: none;
  }
}

.section-main {
  @include clearfix;
  padding-top: 10px;
  background: #edf1f2;
  background: linear-gradient(to bottom, #edf1f2 0%, #dadfe1 100%);
  .row {
    @include flex-wrap(wrap);
  }
}

#content {
  flex: 1;
}

//=======Footer
.section-footer {
  color: #6d797e;
  font-size: 1.3em;
  // a {
  //   color: #6d797e;
  // }
  .footer-first-img {
    margin-bottom: 24px;
    img {
      height: 21px;
      width: 80px;
    }
  }

  .footer-second-img {
    margin-top: 24px;
    img {
      height: 16px;
      width: 28px;
    }
  }
}

.text-copyright {
  color: #6d797e;
}

.text-footer a {
  text-decoration: underline;
  color: $darktext;
}

//========menu
.main-menu-wrapper {
  @include clearfix;
  clear: both;
  // display: none;
  border-bottom: 2px solid #b0bcc2;
  padding: 10px 0 20px 0;
  margin-bottom: 10px;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
