.path-joc-theme {
  .region-main-menu {
    display: block;
  }

  .section-mobile-menu {
    margin: 10px 0;
    border-bottom: 2px solid $shadow;
    padding-bottom: 20px;
  }
}

.path-login {
  color: $page;
  .content-left-group {
    background: linear-gradient(to bottom, #178a4c 0%, #263e8a 100%);
  }

  .section-main {
    padding-top: 95px;
  }

  .tabs a {
    color: $black-color;
    &.is-active,
    &:hover {
      color: $black-color;
    }
  }
  .section-footer,
  a {
    color: $page;
  }

  .text-copyright {
    color: #fff;
  }

  .description {
    display: none;
  }
  .page-title {
    display: none;
  }
}

.path-login,
.path-register,
.path-password {
  .block-views-exposed-filter-blocksearch-page-search,
  .section-secondary,
  .main-menu-wrapper,
  .group-header {
    display: none;
  }

  .section-main,
  .region-footer {
    background: transparent;
    clear: both;
  }
}

.path-register,
.path-password {
  .section-main {
    background: $border-bottom;
  }
}

.path-password {
  input[type="text"] {
    @include box(290px, 48px);
  }
  p {
    display: none;
  }
}

body:not(.user-logged-in) {
  .site-logo {
    margin-left: 10px;
  }
}
