@media (min-width: 320px) {
  .sidebar-first {
    flex: 0 0 50%;
    order: 2;
    width: 100%;
  }

  #content {
    flex: 0 0 100%;
    width: 100%;
    order: 1;
  }

  .sidebar-second {
    flex: 0 0 50%;
    order: 3;
    width: 100%;
  }
}

@media (min-width: 375px) {
}

@media (min-width: 475px) {
  .view {
    &.view-commerce-cart-form .form-actions {
      input {
        width: 48%;
      }
      .btn-update-cart {
        margin-right: 3%;
      }
    }
  }
}

@media (min-width: 575px) {
  button,
  input,
  select,
  textarea {
    width: auto;
  }

  .page-title {
    text-align: left;
  }

  ul.primary {
    @include clearfix;
    border-collapse: collapse;
    margin: 20px 0;
    padding: 0 0 0 5px;
    display: block;
    li {
      display: block;
      float: left;
      margin: 0 1px -1px;
    }
  }
}

@media (min-width: 768px) {
  .main-menu-wrapper {
    display: block;
  }

  .section-mobile-menu {
    display: none;
  }

  .sidebar-first {
    flex: 0 0 20%;
    order: 1;
  }

  #content {
    order: 2;
    flex: 1;
  }
  .sidebar-second {
    flex: 0 0 20%;
    order: 3;
  }

  .view-client-selection .views-row {
    width: 110px;
    display: inline-block;
  }
}

@media (min-width: 1025px) {
  .sidebar-first {
    flex: 0 0 25%;
    order: 1;
  }

  #content {
    flex: 1;
    order: 2;
  }

  .sidebar-second {
    flex: 0 0 25%;
    order: 3;
  }
}
